{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative~'/'~blog.slug) : blog.url %}
{% set new_base_url = blog.url == '/' ? '' : blog.url %}
{% set arrayofpath = uri.path|split('/') %}
{% set firstfolderofpath = arrayofpath[1] %}
{% set secondfolderofpath = arrayofpath[2] %}

{# MultiCourse hub and Presentation hub compatibility - hibbittsdesign.org #}
{% set sidebar_page_content = page.find('/' ~ firstfolderofpath ~ '/' ~ secondfolderofpath ~ '/sidebar').content %}
{% if sidebar_page_content == empty %}
  {% set sidebar_page_content = page.find('/' ~ firstfolderofpath ~ '/sidebar').content %}
  {% if sidebar_page_content == empty %}
    {% set sidebar_page_content = page.find('/sidebar').content %}
  {% endif %}
{% endif %}

<h1 class="hidden">{{page.title}}</h1>

{% if config.plugins.simplesearch.enabled %}
<div class="sidebar-content">
    <h2>{{ 'SIDEBAR.SIMPLE_SEARCH.HEADLINE'|t }}</h2>
    {% include 'partials/simplesearch_searchbox.html.twig' %}
</div>
{% endif %}



{% if config.plugins.feed.enabled %}
<div class="sidebar-content">
  {% if page.template == 'blog' %}
    <h2>{{ 'SIDEBAR.SYNDICATE.HEADLINE'|t }}</h2>
    <div class="btn-group">
        <a class="btn btn-warning" href="{{ feed_url }}.atom"><i class="fa fa-rss-square"></i> Atom 1.0</a>
        <a class="btn btn-warning" href="{{ feed_url }}.rss"><i class="fa fa-rss-square"></i> RSS</a>
    </div>
  {% endif  %}
</div>
{% endif %}
